
:root {
  --yellow: #efd365;
  --darkGrey: #333;
  --grey: #595a5c;
  --lightGrey: rgb(168, 168, 168);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: poppins, sans-serif;
  font-size: 1rem;
  background-color: white;
  margin: 0;
  text-align: center;
}

/* Secetion header with lines */
.section-header{
  overflow: hidden;
  text-align: center;
}

.section-header > span{
  font-size: 3rem;
  position: relative;
  display: inline-block;
  font-weight: 400;
}
.section-header > span:before, .section-header > span:after{
  content: '';
  position: absolute;
  top: 50%;
  border-bottom: 2px solid var(--yellow);
  width: 100vw;
  margin: 0 20px;
}
.section-header > span:before{
  right: 100%;
}
.section-header > span:after{
  left: 100%;
}


/* ----- Home ----- */
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px 20px;
  background-color: var(--darkGrey);
}

#home-container {
  width: 92%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding-bottom: 140px;
}

@media(max-width: 1920px) {
  #home-container {
    max-width: 1200px;
  }
}

@media(max-width: 900px) {
  #home-container {
    flex-direction: column;
  }
}

.home-content {
  text-align: left;
}

#home .figure-a {
  width: 100%;
  margin-left: 0;
}

#profile-pic {
  max-width: 500px;
  min-width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px #efd365ef;
}

@media(max-width: 900px) {
  #home .profile-pic-container {
    width: 100%;
  }

  #home .figure-a {
    width: 100%;
  }

  #home #profile-pic {
    width: 75%;
  }
}

@media(max-width: 600px) {
  #home #profile-pic {
    width: 100%;
  }
}

#home h1 {
  font-family: "raleway";
  color: white;
  font-size: 4rem;
  font-weight: 600;
  margin: 1rem auto 0 auto;
}

#home h2 {
  font-family: "raleway";
  color: var(--lightGrey);
  font-size: 2rem;
  font-weight: 400;
}

@media(max-width: 650px) {

  #home h1 {
    font-size: 2.125rem;
  }

  #home h2 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 140%;
  }
}

#home .yellow-text {
  color: var(--yellow);
}

.slanted-bottom {
  padding-bottom: 100px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
}

@media(max-width: 800px) {
  .slanted-bottom {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 40px));
  }
}

#home .button-container {
  float: left;
}

#home .button {
  border: black 1px solid;
  margin: 10px auto 10px auto;
  padding: 0.5rem 1rem;
  border: var(--yellow) 2px solid;
  color: white;
  background-color: var(--lightGrey);
  background-color: transparent;
  font-size: 20px;
  line-height: 2rem;
  border-radius: 2rem;
  text-align: center;
}

#home .button:hover {
  color: black;
  background-color: var(--yellow);
  border: var(--yellow) 2px solid;
  transform: scale(1.1);
  transition: all ease .5s;
}

#home .button:focus {
  outline: 0;
}

/* ----- Projects ----- */
#projects {
  text-align: center;
  padding-top: 2rem;
  margin: 0 2rem;
}

#projects a {
  text-decoration: none;
  color: black;
}

@media(max-width: 800px) {
  #projects {
    margin: 0 0.5rem;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-gap: 2rem;
}

@media(max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.project-container {
  border: 2px black solid;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: var(--grey);
  color: white;
}

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: white;
  margin: 10px 0;
}

.code {
  color: var(--grey);
  transition: color 0.3s ease-out;
}

.project-container:hover .code {
  color: var(--yellow);
}

#project-icons-container {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.project-icon {
  color: white;
  padding: 5px;
}

.project-icon:hover {
  color: var(--yellow);
}

/* ----- Skills ----- */
#skills {
  padding-top: 2rem;
}

.grid-col-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media(max-width: 1000px) {
  .grid-col-two {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 800px) {
  .grid-col-two {
    grid-template-columns: 1fr;
  }
}

.tag-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-right: 5px;
  width: 75%;
}

.tag-box {
  border: black 1px solid;
  margin: 5px;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  border: var(--grey) 2px solid;
  color: black;
  line-height: 2rem;
  border-radius: 2rem;
}

.tag-box:hover {
  border: var(--yellow) 2px solid;
}

/* ----- Certification ----- */
#certifications {
  padding-top: 2rem;
}

.certification-container {
  width: 75%;
  margin: 0 auto;
}

@media(max-width: 600px) {
  .certification-container {
    width: 95%;
  }
}

.certification-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e6e9ec;
  margin: 10px 0;
}

.certification-logo {
  height: 75px;
  width: 75px;
  margin: 5px 20px 0 5px;
}

.certification-details {
  text-align: left;
  line-height: 0.5rem;
  padding: 0;
  margin: 0;
}

.certification-details-row-title {
  font-weight: bold;
  line-height: 1rem;
}

/* ----- Contact ----- */
#contact {
  text-align: center;
  padding: 2rem 0;
}

#contact > p {
  font-size: 1.2rem;
}

i p {
  display: inline-block;
  color: black;
  padding: 0;
  margin:0;
}

.section {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.section-small {
  max-width: 925px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  overflow: auto;
}

.form-item-full {
  width: 100%;
}

.form-item-half {
  width: 49%;
}

.form-item-half:nth-child(2n) {
  margin-left: auto;
}

.form-label {
  width: 100%;
  font-size: 1.2rem;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 2px #e2e2e2 solid;
  background-color: #f9f9f9;
  border-radius: 10px;
  outline: 0;
  font-size: 1.2rem;
}

.form-text-area {
  font-size: 1.5rem;
}

.form-item-full:nth-child(1n) {
  margin-top: 20px;
}

.form-button {
  border: black 1px solid;
  margin: 40px auto 10px auto;
  padding: 0.5rem 1rem;
  border: var(--grey) 2px solid;
  color: black;
  font-size: 20px;
  line-height: 2rem;
  border-radius: 2rem;
  align-self: center;
}

.form-button:hover {
  color: white;
  background-color: grey;
  border: var(--yellow) 2px solid;
  transform: scale(1.1);
  transition: all ease .5s;
}

.form-button:focus {
  outline: 0;
}


/* ----- Navbar ----- */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: var(--darkGrey);
}

@media screen and (max-width: 900px) {
  #header {
    border-bottom: 1px solid var(--lightGrey);
  }
}

.topnav {
  display: flex;
  align-items: center;
  width: 92%;
  margin: 0 auto;
}

.topnav .logo-container {
  position: relative;
  z-index: 50;
}

.topnav .logo-container .logo {
  color: white;
  font-size: 1.5rem;
}

.topnav .logo-container .logo:after {
  max-width: 30%;
  width: 100%;
  height: 6px;
  display: block;
  position: absolute;
  bottom: 2;
  left: 8%;
  content: "";
  border-radius: 1000px;
  background: var(--yellow);
  transition: max-width 0.3s ease, left ease 0s;
}

.topnav .logo-container .logo:hover:after {
  max-width: 15%;
}

.topnav a {
  float: left;
  display: block;
  color: var(--lightGrey);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
}

.topnav a:hover {
  color: white;
}

.topnav .menu-container .menu ul { 
  display: flex;
  list-style: none; 
  padding: 0; 
  margin:0;
}

.topnav .menu-container .menu li { 
  position: relative;  
}

/* large screen: menu link */
@media screen and (min-width: 900px) {

  .topnav .menu-container .menu li .link:after {
    display: block;
    position: absolute;
    bottom: 2;
    left: 50%;
    content: "";
    height: 4px;
    border-radius: 4px;
    background: var(--yellow); 
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  
  .topnav .menu-container .menu li .link:hover:after {
    width: 50%; 
    left: 23%; 
  }
}

.topnav .menu-container {
  margin-left: auto;
}

.topnav .icon {
  display: none;
  font-size: 1.5rem;
}

/* tablet & Mobile */
@media screen and (max-width: 900px) {
  
  .topnav .menu-container-inner a {
    display: none;
  }
  .topnav a.icon {
    display: block;
    position: relative;
    z-index: 51;
  }
}

/* topnav menu for tablet and mobile */
@media screen and (max-width: 900px) {
  
  .topnav.responsive .menu {
    border-bottom: 1px solid var(--lightGrey);
  }

  .topnav.responsive .logo-container {
    z-index: 51;
  }

  .topnav.responsive a.icon {
    margin-left: auto;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .menu-container-inner {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive ul{
    flex-direction: column;
  }

  .topnav.responsive .menu-container .menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    background-color: var(--darkGrey);
    padding: 80px 4% 4%;
  }

  .topnav .menu-container .menu li .link:after {
    max-width: 15%;
    width: 100%;
    height: 1px;
    display: block;
    content: "";
    border-radius: 1000px;
    background: var(--yellow);
    transition: max-width 0.3s ease, left ease 0s;
  }
  .topnav .menu-container .menu li .link:hover:after {
    max-width: 50%;
  }
}


/* ----- Footer ----- */
#footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  background-color: var(--darkGrey);
  color: var(--lightGrey);
}

.icon-button {
  text-decoration: none;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding-bottom: 1rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 46px;
  width: 46px;
  margin: auto 0.5rem;
  font-size: 1.8rem; 
  background-color: transparent;
  border: 2px var(--yellow) solid;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}

.icon-container:hover {
  transform: translateY(8px);
  background-color: white;
  border-color: var(--yellow);
  color: black;
}

.icon {
  color: white;
  text-decoration: none;
}

.icon-container:hover .icon {
  color: black; 
}